.map-page {
  display: flex;
  flex: 1 1 100%;
  flex-flow: column nowrap;
  justify-content: center;
  font-family: ATCOverlook;
  font-size: .8em;
  padding:1em;
  overflow: hidden;
}
.map-page h1, .map-page h2, .map-page h3, .map-page h4{
  font-family: ModernHeadFont;
  font-size: 1.2em;
}
.departure-time {
  box-sizing: border-box;
}
.departure-time > div {
  background: rgba(84,3,115,.5);
  text-align: center;
}
.departure-time > div > h4 {
  margin-top: .6em;
  margin-bottom: 0px;
}
.departure-time > div > p {
  margin-bottom: .6em;
  margin-top: 0px;
}
.bett-google-map {
}
