@font-face {
  font-family: ModernHeadFont;
  src: url('../assets/Modernhead-Bold.woff') format('woff'),
       url('../assets/Modernhead-Bold.otf') format('opentype'),
       url('../assets/Modernhead-Bold.otf') format('truetype');
}

@font-face {
  font-family: ATCOverlook;
  src: url('../assets/ATCOverlook-Regular.woff') format('woff'),
       url('../assets/ATCOverlook-Regular.ttf') format('truetype');
}
